<div class="container" style="width: 25%;">
  <div class="card text-center">
    <div class="card-header">Login</div>
    <div class="card-body">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">DNI</span>
        <input
          type="text"
          class="form-control"
          placeholder="Ingresa tu DNI"
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="clientObject.dni"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Contraseña</span>
        <input
          type="text"
          class="form-control"
          placeholder="Ingresa tu contraseña"
          aria-label="Password"
          aria-describedby="basic-addon1"
          [(ngModel)]="clientObject.password"
        />
      </div>
      <button type="button" class="btn btn-primary" (click)="login()">Ingresar</button>
    </div>
    <button type="button" class="btn btn-light" (click)="register()">Registrarse</button>
  </div>
</div>
