<div class="container">
  <h2>Editar datos del cliente</h2>
  <div class="mb-3 row">
    <label for="email" class="col-sm-2 col-form-label">DNI</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" [(ngModel)]="clientObject.dni">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="clientObject.dni">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Apellidos</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="clientObject.dni">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Tel&eacute;fono</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="clientObject.dni">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Correo Electr&oacute;nico</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="clientObject.dni">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" [(ngModel)]="clientObject.dni">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Confirmar contraseña</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" [(ngModel)]="clientObject.dni">
    </div>
  </div>
  <div class="">
    <button type="button" class="btn btn-success" (click)="save()">Guardar</button> &nbsp;&nbsp;
    <button type="button" class="btn btn-danger" (cllick)="back()">Cancelar</button>
  </div>
</div>
